In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
def clean(link):
    string = link
    b = np.load(link)
    #print(b.shape)
    temp = []
    for a in b:
        try:
            temp.append(a.tolist())
        except AttributeError:
            print('', end = '')
    len(temp)
    df = np.asarray(temp)
    #print(df.shape)
    file_name = link.split('.')[0]
    #print(file_name)
    np.savetxt(file_name+'.csv', df, delimiter=',')

In [18]:
import os
l = os.listdir()
temp = []
for element in l:
    if '.npy' in element:
        temp.append(element)
        print(element)

927_0227_01.npy
927_0228_01.npy
927_0229_01.npy
927_0230_01.npy
927_0231_01.npy
927_0232_01.npy
927_0233_01.npy
927_0234_01.npy
927_0235_01.npy
927_0236_01.npy

In [19]:
for element in temp:
    clean(element)

In [20]:
descriptors = pd.read_csv('Descriptors.csv', index_col=0)
descriptors.head()

,gender,gender_no,output,expression_index,video_name,start_time_in_sec,end_time_in_sec,start_exp,end_exp,text_file,kinect_start_frame,kinect_end_frame
1,F,3,An,1,927_0216_01.MP4,5.356700,9.481139,161,284,20170902_092359_00.txt,217,312
2,F,3,An,2,927_0216_01.MP4,9.883585,14.903150,296,447,20170902_092359_00.txt,322,466
3,F,3,An,3,927_0216_01.MP4,14.903150,19.427206,447,582,20170902_092359_00.txt,466,564
4,F,3,An,4,927_0216_01.MP4,19.427206,25.077029,582,752,20170902_092359_00.txt,564,699
5,F,3,An,5,927_0216_01.MP4,25.077029,29.981168,752,899,20170902_092359_00.txt,699,828

In [21]:
path = 'emotional database/motion capture/'
files = []
# r=root, d=directories, f = files
for r, d, f in os.walk(path):
    for file in f:
        if '.txt' in file:
            files.append(os.path.join(r, file))